{
    "apis":{
        "wikidata" : "https://www.wikidata.org/w/api.php",
        "commons" : "https://commons.wikimedia.org/w/api.php"
    } ,
    "default_api":"wikidata",
    "prefer_preferred":true,
    "namespace_blocks":{
        "dewiki":[0],
        "enwiki":[0],
        "frwiki":[0]
    } ,
    "shadow_images_check" : [ "enwiki" ] ,
    "template_start_q" : "Q19860885",
    "template_end_q" : "Q19860887"
}